<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css"/>
        <title>NoteVids</title>
    </head>
    <body>
        <header>
            <div class = "main">
                <ul>
                    <li><a href = "home.html">Home</a></li>
                    <li class = "active"><a href = "about_us.html">About Us</a></li>
                </ul>
            </div>
        </header>
        <h5>Who we are</h5>
    </body>
</html>